<div class="header">
    <img src="assets/img/PMA-Logo-Light.png">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Projects" routerLinkActive='active'>Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive='active'>Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="Contact" routerLinkActive='active'>Contact</a>
      </li>
    </ul>
    <div class="small-menu">
        <fa-icon [icon]="['far', 'ellipsis-h']"></fa-icon>
    </div>
  </div>