<div class="header" [ngClass]="{'sticky' : isSticky}">
    <img [src]="getLogo()">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Projects" routerLinkActive='active'>Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Events" routerLinkActive='active'>Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="Contact" routerLinkActive='active'>Contact</a>
      </li>
    </ul>
    <div class="small-menu" (click)="toggleSideNav(!showSideMenu)">
        <fa-icon [icon]="['far', 'ellipsis-h']"></fa-icon>
    </div>
  </div>
  <app-side-nav [active] = "showSideMenu" (activeStatusChange)="toggleSideNav($event)"></app-side-nav>