<div class="contact-modal">
 
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <div class="option">
          <img class="banner-img left" src="assets/img/Help-Icon.svg">
          <button type="button" class="btn btn-outline-primary">I Want To Help</button>
        </div>
      </div>
      <div class="col-md">
        <div class="option">
          <img class="banner-img left" src="assets/img/Talk-Icon.svg">
          <button type="button" class="btn btn-outline-primary">Lets Talk</button>
        </div>

      </div>
      <div class="col-md">
        <div class="option">
          <img class="banner-img left" src="assets/img/Project-Icon.svg">
          <button type="button" class="btn btn-outline-primary">I Have a Project</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>