@import "variables";
@import "mixins";
@import 'fonts';
.contact-modal{
    width:100%;
    padding:30px 0px;
    .close{
        @include box_shadow(2);
        padding:0;
        position: absolute;
        display: block;
        right:10px;
        top:10px;
        color:white;
        opacity:1;
        background:$color-2;
        height:40px;
        width:40px;
        line-height: 10px;
        border-radius:100%;
        z-index:99;
    }
    .col-md{
        overflow: hidden;
        padding-right:0px;
        -webkit-transition: width 1s ease,margin 1s ease; /* Safari */
        transition: width 1s ease,margin 1s ease; 
        &:nth-child(3){
            padding-right:15px;
        }
        @media (max-width:770px){
            padding-right:15px;
        }
   
    }
    .option{
        @include box_shadow(1);
        width:100%;
        text-align: center;
        padding:40px 0px;
        margin:5px 0px;
        border-radius:8px;
        background: white;
       
        -webkit-transition: all 1s ease; /* Safari */
        transition: all 1s ease; 
        img{
            width:100%;
        }
        .btn{
            @extend .font-header;
            white-space: normal;
            margin-top:30px;
            border-width: 3px;
            border-color:$color-1;
            color:$color-1;
            border-radius:43px;
            text-transform: uppercase;
            font-size:20px;
            max-width:calc(100% - 20px);
            min-height:86px;
            padding:10px 43px 10px 43px;
            &:hover{
                background: rgba($color-1,.8);
                color:rgba(white,1);
            }
            &:focus{
                outline:none;
                box-shadow: none;
                //@include box_shadow(1);
            }
        }
        &.active{
            position: relative;
            overflow: visible;
            margin-top:100px;
            padding-top:100px;
           
            img{
                @extend .center.horizontal;
                //top:-50%;
                max-width:200px;
                top:-100px;
            }
        }
       
    }
}