<div style="height:100px"></div>


<div class="slide">
    <img class="banner-img left" src="assets/img/CONTACT_1.svg">
    <div class="text">
        <div class="title">Need Help?</div>
        <div class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae sapien eu lacus aliquet
            auctor. Maecenas porta, risus sed gravida pulvinar, odio risus sollicitudin lectus, laoreet mattis sapien
            eros in neque. Aliquam id pellentesque eisus molestie. Quisque scelerisque tristique nisl ut vehicula</div>
        <button type="button" class="btn btn-outline-primary" >I HAVE A PROJECT</button>
    </div>
    <div class="slide-overlay"></div>
</div>
<div class="option">
    <img class="banner-img left" src="assets/img/Help-Icon.svg">

</div>

<div class="option">
    <img class="banner-img left" src="assets/img/Talk-Icon.svg">

</div>
<div class="slide">
    <img class="banner-img center" src="assets/img/white-board.svg">
   
    <div class="slide-overlay"></div>
</div>